<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

	<appender name="default.console" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />

		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd,MM,yyyy HH:mm:ss} | %-5p |- %m%n" />
		</layout>
	</appender>


	<appender name="default.file" class="org.apache.log4j.FileAppender">
		<param name="file" value="resources/bom_posi_xml.log" />
		<param name="append" value="true" />
		<param name="encoding" value="utf-8" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd,MM,yyyy HH:mm:ss} | %-5p |- %m%n" />
		</layout>
	</appender>


	<appender name="run.console" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />

		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d | %-5p |%-20.20c{1}: %-20t - %m%n" />
		</layout>
	</appender>


	<logger name="default.file" additivity="false">
		<level value="all" />
	</logger>


	<root>
		<priority value="debug" />
		<appender-ref ref="default.console" />
		<appender-ref ref="default.file" />
	</root>

</log4j:configuration>